:root {
  --color-black: #000;
  --color-black-light: #333;
  --color-white: #fff;
  --color-blue: #81B3D2;
  --color-blue-dark: #669EC0;
  --color-blue-extra-dark: #5496BD;
  --color-grey: #F2F2F2;
  --color-grey-dark: #EEEEEE;
  --color-brawn: #766357;
  --color-brawn-dark: #604E43;
  --color-brawn-extra-dark: #503E33;
}

body {
  font-family: 'PT Sans', sans-serif;
  font-size: 14px;
  line-height: 21px;
  color: var(--color-black-light);
  background-color: var(--color-white);
}

.main-menu {
  list-style: none;
}

.main-menu a {
  color: var(--color-black);
  text-decoration: none;
  font-weight: 700;
}
.main-menu a:hover {
  color: var(--color-blue);
}
.main-menu a:active {
  color: var(--color-black);
  opacity: .3;
}

.page-main h1 {
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
}

.features h3 {
  font-size: 21px;
  line-height: 21px;
  font-weight: 700;
}

.features ul {
  list-style: none;
}

.features-list {
  background-color: var(--color-grey-dark);
  padding: 0;
  margin: 0;
}

.feature-with-image {
  background-color: var(--color-blue);
  color: var(--color-white);
}

.search button {
  font-size: 21px;
  color: var(--color-white);
  font-weight: 700;
  border: none;
  background-color: var(--color-brawn);
}
.search button:hover {
  background-color: var(--color-brawn-dark);
}
.search button:active {
  background-color: var(--color-brawn-extra-dark);
}

.question {
  font-size: 30px;
  line-height: 24px;
  font-weight: 700;
}

.main-footer {
  color: var(--color-black);
}
.main-footer p {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
}
.main-footer ul {
  list-style: none;
}

.main-footer .website-by {
  font-size: 14px;
  font-weight: 400;
}
